/* Estilos Gerais */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  line-height: 1.6;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("pm-background.jpg") center/cover;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.challenges,
.phases {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px 10%;
}

.card {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cta {
  text-align: center;
  padding: 50px 20px;
  background: #003366;
  color: white;
}

.cta button {
  background: #ffd700;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
}

:hover button {
  background: #def880;
}

.beneficios {
  text-align: center;
  padding: 40px 20px;
  background-color: #f0f0f0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
